Nodered-code
[
    {
        "id": "2673f969f748b5a5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e62907cbda2a5ba",
        "type": "group",
        "z": "2673f969f748b5a5",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "996da238f4b9bdca",
            "b95b2f4c6ff4ef0b",
            "193ff137fcebab6e",
            "850e60820e2a9740",
            "e59c4cdc6856f764",
            "4aafba63cd78590a",
            "9021b2363b861997",
            "1d09650d1763f7b8",
            "5fc69a846d3835f3"
        ],
        "x": 254,
        "y": 139,
        "w": 732,
        "h": 402
    },
    {
        "id": "f973e97d277787b6",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "09cc5e25ca28dde1",
        "type": "ui_group",
        "name": "FUNCTION",
        "tab": "f973e97d277787b6",
        "order": 1,
        "disp": false,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e1280bc3a2e5e09",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 64,
                "sy": 49,
                "gx": 0,
                "gy": 1,
                "cx": 0,
                "cy": 0,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "996da238f4b9bdca",
        "type": "tcp in",
        "z": "2673f969f748b5a5",
        "g": "1e62907cbda2a5ba",
        "name": "",
        "server": "client",
        "host": "192.168.0.125",
        "port": "5000",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 380,
        "y": 300,
        "wires": [
            [
                "b95b2f4c6ff4ef0b",
                "9021b2363b861997"
            ]
        ]
    },
    {
        "id": "b95b2f4c6ff4ef0b",
        "type": "function",
        "z": "2673f969f748b5a5",
        "g": "1e62907cbda2a5ba",
        "name": "function 1",
        "func": "let text = msg.payload.toString().trim();\n// Example: \"MKAGRO,507\"\nlet parts = text.split(\",\");\nmsg.product = {\n    name: parts[0],\n    count: Number(parts[1])\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "193ff137fcebab6e",
                "850e60820e2a9740"
            ]
        ]
    },
    {
        "id": "193ff137fcebab6e",
        "type": "ui_template",
        "z": "2673f969f748b5a5",
        "g": "1e62907cbda2a5ba",
        "group": "09cc5e25ca28dde1",
        "name": "quantity",
        "order": 6,
        "width": "30",
        "height": "11",
        "format": "<div style=\"background:#4e5358;color:white;padding:20px;border-radius:16px;font-size:450px;text-align:center;font-weight:bold;\">\n    {{msg.product.count}}\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "850e60820e2a9740",
        "type": "ui_template",
        "z": "2673f969f748b5a5",
        "g": "1e62907cbda2a5ba",
        "group": "09cc5e25ca28dde1",
        "name": "product",
        "order": 4,
        "width": "30",
        "height": "6",
        "format": "<div style=\"background:#4e5358;color:white;padding:5px;border-radius:16px;font-size:200px;text-align:center;font-weight:bold;\">\n    {{msg.product.name}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e59c4cdc6856f764",
        "type": "ui_template",
        "z": "2673f969f748b5a5",
        "g": "1e62907cbda2a5ba",
        "group": "09cc5e25ca28dde1",
        "name": "title",
        "order": 2,
        "width": "30",
        "height": "2",
        "format": "<div style=\"background:#1d9e64;color:white;padding:4px;border-radius:16px;font-size:70px;text-align:center;font-weight:bold;\">\nPATANJALI FOODS - CHENNAI\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 850,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4aafba63cd78590a",
        "type": "ui_template",
        "z": "2673f969f748b5a5",
        "g": "1e62907cbda2a5ba",
        "group": "09cc5e25ca28dde1",
        "name": "date and time",
        "order": 1,
        "width": "30",
        "height": "1",
        "format": "<div id=\"dtile\" style=\"\n    background:#4e5358;\n    color:white;\n    padding: 1px 20px; \n    border-radius:12px;\n    font-size:30px;\n    text-align:center;\n    font-weight:bold;\n    display:flex;\n    justify-content:space-between; \n    align-items:center;\n\">\n    <span id=\"date\">--</span>\n    <span id=\"time\">--</span>\n</div>\n\n<script>\nfunction updateDT() {\n    const n = new Date();\n\n    const d = n.toLocaleDateString(\"en-IN\", {\n        day: \"2-digit\",\n        month: \"2-digit\",\n        year: \"numeric\"\n    });\n\n    const t = n.toLocaleTimeString(\"en-IN\", {\n        hour12: false\n    });\n\n    document.getElementById(\"date\").innerHTML = d;\n    document.getElementById(\"time\").innerHTML = t;\n}\nupdateDT();\nsetInterval(updateDT, 1000);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 880,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "9021b2363b861997",
        "type": "debug",
        "z": "2673f969f748b5a5",
        "g": "1e62907cbda2a5ba",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "1d09650d1763f7b8",
        "type": "ui_text",
        "z": "2673f969f748b5a5",
        "g": "1e62907cbda2a5ba",
        "group": "09cc5e25ca28dde1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "PRODUCT",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "40",
        "color": "#ffffff",
        "x": 850,
        "y": 440,
        "wires": []
    },
    {
        "id": "5fc69a846d3835f3",
        "type": "ui_text",
        "z": "2673f969f748b5a5",
        "g": "1e62907cbda2a5ba",
        "group": "09cc5e25ca28dde1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "QUANTITY",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "40",
        "color": "#ffffff",
        "x": 850,
        "y": 500,
        "wires": []
    },
    {
        "id": "1f3d0ab80a9ea30d",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
